* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.services-section {
  width: 100%;
    padding: 60px 0;
    gap: 40px;
    padding: 60px 4%;
}



.services-small-title {
    font-size: 17px;
    letter-spacing: 0.5;
    font-weight: 800;
    color: #087ee8;
    margin: 0px 0px 8px;
}

.services-title{
    font-size: 29px;
    font-weight: 700;
    color: #123b72;
    margin-bottom: 10px;
}

.services-description {
    font-size: 17px;
    max-width: 430px;
    line-height: 1.7;
    margin: 0 0 18px;
    color: #424a4f;
}

.services-btn {
    padding: 15px 24px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(176, 174, 174);
    background: #087ee8;
    color: white;
    border: 2px solid #edeeef;
    transition: 0.3s ease-in-out;
    margin: 0 0 35px;
}
.services-btn:hover {
    transform: scale(1.05);
    background-color: white;
    color: #087ee8;
    border: 2px solid #267dd5;
    box-shadow: 5px 5px 5px 5px rgb(229, 214, 214);
}
.service-card{
    width: 50%;
    padding: 15px;
    min-height: 170px;
    background-color: #f6f6f6fd;
    box-shadow: 0 3px 12px rgba(20, 90, 140, 0.04);
    border: 1px solid #dceaf5;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(23, 101, 157, 0.263);
    transition: all 0.3s ease;
}
.service-card:hover{
   transform: translateY(-7px);
    box-shadow: 0 10px 25px rgba(20, 90, 140, 0.12);
}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #e8f4ff;
    color: #087ee8;
    font-size: 40px;
}

